{% extends "main.html" %}

{% block header %}
{{ super() }}
{% endblock %}

{% block tabs %}
{{ super() }}
{% endblock %}

{% block content %}
<style>
    div.md-container {
        background-image: url('/embedded-linux/images/eliod_background.jpg');
    }
    div.md-content p, h1, h2, h3, h4 {
        color: white !important;
    }
    #embedded-iot-linux-and-oss-day {
        margin-bottom: 15px;
    }
</style>
<center>
{{ super() }}
</center>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}