@font-face {
    font-family:"boschsans";
    font-weight:400;
    src:url(fonts/woff2/boschsans_regular.woff2) format("woff2"),
    url(fonts/woff/boschsans_regular.woff) format("woff");
    font-display:swap;
}
@font-face {
    font-family:"boschsans";
    font-weight:700;
    src:url(fonts/woff2/boschsans_bold.woff2) format("woff2"),
    url(fonts/woff/boschsans_bold.woff) format("woff");
    font-display:swap;
}
@font-face {
    font-family:"boschsans";
    font-weight:400;
    src:url(fonts/woff2/boschsans-regularitalic.woff2) format("woff2"),
    url(fonts/woff/boschsans-regularitalic.woff) format("woff");
    font-display:swap;
    font-style:italic;
}
@font-face {
    font-family:"boschsans";
    font-weight:700;
    src:url(fonts/woff2/boschsans-bolditalic.woff2) format("woff2"),
    url(fonts/woff/boschsans-bolditalic.woff) format("woff");
    font-display:swap;
    font-style:italic;
}


:root {
    --md-text-font: "boschsans";
    --md-primary-fg-color: #368d86;
    --fg-rgb: 54, 141, 134;
    --purple-rgb: 158, 40, 150;
    --dark-purple-rgb: 85, 17, 81;
    --blue-rgb: 0, 85, 135;
    --dark-green-rgb: 0, 81, 42;
    --light-green-rgb: 0, 136, 74;
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4
{
  font-weight: 700;
  color: #323232;
}

/* --- Tiles --- */
div.tile-wall {
    width: 600px;
    text-align: center;
}

a.tile {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 150px;
    height: 150px;
    padding: 15px;
    margin: 5px;
    font-weight: 700;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    
}

a.tile:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.tile-green {
    background:rgba(var(--fg-rgb), 0.5);
}
.tile-green:hover {
    background:rgba(var(--fg-rgb), 1.0);
}

.tile-purple {
    background:rgba(var(--purple-rgb), 0.5);
}
.tile-purple:hover {
    background:rgba(var(--purple-rgb), 1.0);
}

.tile-blue {
    background:rgba(var(--blue-rgb), 0.5);
}
.tile-blue:hover {
    background:rgba(var(--blue-rgb), 1.0);
}

.tile-dark-green {
    background:rgba(var(--dark-green-rgb), 0.5);
}
.tile-dark-green:hover {
    background:rgba(var(--dark-green-rgb), 1.0);
}

.tile-dark-purple {
    background:rgba(var(--dark-purple-rgb), 0.5);
}
.tile-dark-purple:hover {
    background:rgba(var(--dark-purple-rgb), 1.0);
}

.tile-light-green {
    background:rgba(var(--light-green-rgb), 0.5);
}
.tile-light-green:hover {
    background:rgba(var(--light-green-rgb), 1.0);
}

a.tile img {
    max-height: 60px;
    max-width: 60px;
}

a.tile p {
    font-size: 17px;
    color: white;
    margin: 0;
    padding: 0;
}

div.tile-content, div.tile-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

div.tile-image {
    height: 70px; 
}

.img-shadow {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}